In [3]:
def add(a,b):
    print(a+b)
add(10,5)

15

In [4]:
def add():
    a=5
    b=10
    print(a+b)
add()

15

In [8]:
def SI(p,r,t):
    si=(p*r*t)/100
    print(si)
SI(100,10,3)

30.0

In [ ]:
create a function to find rhe sum of all natural number between 1 to 50

In [13]:
def sum_natural_numbers_formula(n=50):
    return n * (n + 1) // 2
result = sum_natural_numbers_formula()
print("Sum of natural numbers from 1 to 50 is:", result)

Sum of natural numbers from 1 to 50 is: 1275

In [4]:
def sum_n(a,b):
    sum=0
    for i in range(a,b):
        sum+=i  # sum=sum+i
    print(sum)
sum_n(1,51)

1275

In [ ]:
print the multiplicable table

In [2]:
def table():
    n=int(input("Enter a number:"))
    for i in range(1,11):
        print(f"{n}X{i}={n*i}")
table()

Enter a number: 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [ ]:
Sum of odd numbers

In [13]:
def sum_n(a,b):
    sum=0
    for i in range(a,b):
        if i%2!=0:
            sum+=i  # sum=sum+i
    print(sum)
sum_n(1,51)

625

In [27]:
def factorial(n):
    if n==1:
        return 1
    return n* factorial(n-1)
n=int(input("enter a number"))
print(factorial(n))

enter a number 5

120

In [9]:
def reverse(word):
    print(word[::-1])
str=str(input("Enter a string:"))
reverse(str)

Enter a string: harshita

atihsrah

In [5]:
try:
    num1=int(input("Enter numerator:"))
    num2=int(input("Enter denomintor:"))
    result=num1/num2
except ZeroDivisionError:
    print("Error:Cannot divide by zero!")
except ValueError:
    print("Error:Please enter valid integers only!")
else:
    print("Result is:",result)
finally:
    print("Program ended,Thank You!")

Enter numerator: 5
Enter denomintor: 7

Result is: 0.7142857142857143
Program ended,Thank You!

In [19]:
def square(n):
    return n*n
n=(input("Enter a number"))
square(n)

Enter a number 2

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
def add(a,b):
    res=a+b
    return res
    num1=(input("Enter the number"))
    num2(input("Enter the number"))
add(num1,num2)

12

In [29]:
def even(n):
    if n%2==0:
        print(

In [34]:
def find_largest_element(lst):
    if not lst:
        return None
    largest = lst[0]
    for item in lst[1:]:
        if item > largest:
            largest = item
    return largest
    numbers = [3, 7, 2, 9, 4]
print(find_largest_element(numbers))

NameError: name 'numbers' is not defined

In [ ]:
def largest(lst):
    largest=lst[0]
    for i in lst[1:]:
        if i>largest:
            largest=i
    print(largest)
lst=[2,5,1,11,8]
largest(lst)

In [38]:
def fibonacci_series(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    series = [0, 1]
    while len(series) < n:
        next_term = series[-1] + series[-2]
        series.append(next_term)
    return series
print(fibonacci_series(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [37]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
print(count_vowels("Hello World"))

3

In [36]:
def sum_values(*args):
    return sum(args)
print(sum_values(1, 2, 3, 4, 5))

15

In [39]:
def is_palindrome(s):
    cleaned = ''.join(c.lower() for c in s if c.isalnum())
    return cleaned == cleaned[::-1]
print(is_palindrome("Racecar"))
print(is_palindrome("Hello"))
print(is_palindrome("A man a plan a canal Panama"))

True
False
True

In [40]:
def is_palindrome(word):
    word = word.lower()
    word = word.replace(" ", "")
    if word == word[::-1]:
        return True
    else:
        return False
print(is_palindrome("Radar"))
print(is_palindrome("hello"))
print(is_palindrome("Level"))

True
False
True

In [5]:
def add(x, y=2):
    return x + y
print(add(3))

5

In [6]:
def even(n):
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is odd")
n=int(input("Enter a number"))
even(n)

Enter a number 2

2 is even

In [7]:
def average(a, b):
    return (a + b) / 2
print(average(4, 8))

6.0

In [8]:
str=input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for ch in str if ch in vowels)
print("Vowel count:",count)

Enter a string:  harshita

Vowel count: 3

In [9]:
square = lambda x:x**2
num = int(input("Enter a number: "))
print("Square:",square(num))

Enter a number:  3

Square: 9

In [11]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n - 1)
print(factorial(5))  # Output: 120

120

In [13]:
def average():
    try:
        num1 =int(input("Enter first number: "))
        num2 =int(input("Enter second number: "))
        avg = (num1 + num2) / 2
        return avg
    except ValueError:
        return "Invalid input. Please enter numeric values."
result = average()
print("Average:", result)

Enter first number:  4
Enter second number:  6

Average: 5.0